.link {
  font-size: 18px;
  color: white !important ;
}
.item {
  width: 220px;
  height: 28px;
  margin-right: 1px;
  text-align: center;
}
.Container {
  width: 100%;
  height: 50px;
  background-color: #4A90E2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
