<div class=Container>

  <div class=item>
    <a class=link>My Task</a>
  </div>
  <div class=item>
    <a class=link>In Progress</a>
  </div>

  <div class=item>
    <a class=link>Completed</a>
  </div>

</div>
