.taskcontainer {
  margin-bottom: 40px;
}
.title {
  display: flex;
  background-color: #F2F2F2 ;
  border-radius: 2px;
  width: 100%;
  height: 100px;
  box-shadow: 1px 1px 3px 0px;
  transition: background-color 1s ease-in;
}
.up_content {
  width: 100%;
}
.controls {
  flex: 1 1 40px;
}
.up_content >* {
  margin-left: 16px;
  margin-top: 24px;
}
.Text {
  display: inline-block;
  font-size: 24px;

}
.controls > i {
  font-size: 20px;
  margin-top: 24px;
  cursor: pointer;
}
.star {
  // color: #F5A623;
  color: gray;

}
.down_content {
 align-self: flex-start;
}
.content {
  height: 391px;
  background-color: #F2F2F2 ;
  border-radius: 2px;
  border-top: 2px solid #C8C8C8;
  box-shadow: 1px 1px 3px 0px;
  transition: height 1s;
}
.option {
  margin-left: 70px;
  margin-top:24px;
}
.comment_text {
  width: 80%;
  min-height: 120px;
}
.grp-cancel-save {
  display: flex;

}
.grp-cancel-save > * {
  flex: 1;
  text-align: center;
  line-height: 60px;
  cursor: pointer;

}
.cancle {
  color: #D0021B;
  background-color: white;
}
.save {
  color: white;
  background-color: #4A90E2;
}
.option>div>i {
  margin-right: 10px;
}
.icons > * {
  color: grey;
  margin-right: 8px;
}
#chk1 + div {
  display: inline-block;
  vertical-align: top;
}

#chk1 {
  margin-right: 20px;
}
.list_grop {
  list-style: none;
}
.task_container {
  margin-bottom: 20px;
}
.done {
  text-decoration: line-through;
}
.important_star {
  color: #F5A623;
}
.important_block {
  background-color: #FFF2DC;

}
