<div *ngFor="let item of todoList">
    <div class="task_container">
        <!-- 上半部-->
        <!-- [@Change]="item.state" -->
        <!-- [ngClass]="{'important_block' : item.Todo_isImport}". -->
        <div class="title" [@Change]="item.state">
          <div class="up_content">

            <div>
                <input id="chk1" type="checkbox" [checked]="item.Todo_isCheck" (click)="itemCheck(item)">
                <label for="chk1" class="Text" [ngClass]="{'done' : item.Todo_isCheck}" >{{item.Todo_Title}}</label>
                <div class="icons">
                    <i class="fas fa-calendar"></i>
                    <span>{{item.Todo_DeadLine}}</span>
                    <i class="fas fa-star" *ngIf="item.Todo_isImport"></i>
                </div>
            </div>

          </div>

          <div class="controls star">
            <i class="fas fa-star" (click)="ChangeColor($event,item)" [ngClass]="{'important_star' : item.Todo_isImport}"></i>
          </div>

          <div class="controls">
            <i class="fas fa-pencil-alt" (click)="toggleHelpMenu(item)"></i>
          </div>

          <!-- 下半部 -->
        </div>
        <div class="content" id="content" [@slideInOut]="item.contentOpen" >
          <div class="option">
            <div>
              <i class="fas fa-calendar-alt"></i>
              <span class="Deadline">Deadline</span>
            </div>
            <div>
              <input type="date" [(ngModel)]="item.Todo_DeadLine">
            </div>
          </div>

          <div class="option">
            <div>
              <i class="fas fa-file"></i>
              <span class="Deadline">File</span>
            </div>
            <div>
              <input type="file">
            </div>
          </div>

          <div class="option">
            <div>
              <i class="fas fa-comment-dots"></i>
              <span class="Deadline">Comment</span>
            </div>
            <div>
               <textarea class="comment_text" [(ngModel)]="item.Todo_Content"></textarea>
            </div>
          </div>
          <nav class="grp-cancel-save">
              <div class="cancle" id="btn1" (click)="toggleHelpMenu(item)">
                X Cancel
              </div>
              <div class="save" id="btn2"  (click)="Submit(item)">
                + Save
              </div>
          </nav>
        </div>
      </div>
</div>



