<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

  <div class="col-md-6 offset-md-3">
      <app-add-task></app-add-task>
      <app-my-task></app-my-task>
  </div>



<router-outlet></router-outlet>
