.addcontainer{
  height: 50px;
  margin-top: 24px;
  border-radius: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #C8C8C8;

}
.input {
  width: 100%;
  height: 100%;
  border: 0px;
}
.fa-plus {
  color: #C8C8C8;
}
.icon {
  text-align: center;
  width: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.content {
  height: 391px;
  background-color: #F2F2F2 ;
  border-radius: 2px;
  border-top: 2px solid #C8C8C8;
  box-shadow: 1px 1px 3px 0px;
  transition: height 1s;
}
.option {
  margin-left: 70px;
  margin-top:24px;
}
.comment_text {
  width: 80%;
  min-height: 120px;
}
.grp-cancel-save {
  display: flex;

}
.grp-cancel-save > * {
  flex: 1;
  text-align: center;
  line-height: 60px;
  cursor: pointer;

}
.cancle {
  color: #D0021B;
  background-color: white;
}
.save {
  color: white;
  background-color: #4A90E2;
}
.option>div>i {
  margin-right: 10px;
}
.icons > * {
  color: grey;
  margin-right: 8px;
}
#chk1 + div {
  display: inline-block;
  vertical-align: top;
}

#chk1 {
  margin-right: 20px;
}
.list_grop {
  list-style: none;
}
.task_container {
  margin-bottom: 20px;
}
.done {
  text-decoration: line-through;
}
.container {
  margin-bottom: 20px;
}
.alert {
  float: right;
}
