<div class="alert alert-success" *ngIf="saveSuccess">
    <strong>Success!</strong>
</div>

<div class="container">
  <div class="addcontainer">
    <div class="icon"> <i class="fas fa-plus"></i></div>
    <input type="text" class="input" placeholder="  Add Task" (focus)="MakeTask()"  [(ngModel)]="Title">
  </div>
  <div class="content" id="content" [@slideInOut]="state" >
      <div class="option">
        <div>
          <i class="fas fa-calendar-alt"></i>
          <span class="Deadline">Deadline</span>
        </div>
        <div>
          <input type="date" [(ngModel)]="DeadLine"/>
        </div>
      </div>

      <div class="option">
        <div>
          <i class="fas fa-file"></i>
          <span class="Deadline">File</span>
        </div>
        <div>
          <input type="file">
        </div>
      </div>

      <div class="option">
        <div>
          <i class="fas fa-comment-dots"></i>
          <span class="Deadline">Comment</span>
        </div>
        <div>
           <textarea class="comment_text"  [(ngModel)]="Comment"></textarea>
        </div>
      </div>
      <nav class="grp-cancel-save">
          <div class="cancle" id="btn1" (click)="MakeTask()">
            X Cancel
          </div>
          <div class="save" id="btn2" (click)="Submit()">
            + Save
          </div>
      </nav>
    </div>

</div>


