/* You can add global styles to this file, and also import other style files */
body,html {
  margin: 0 auto;
  padding: 0;
  background-color: #E1E1E1;
  height: 100%;
}
.Text {
  color: #00408B;
}
.btnColor {
  background-color: #4A90E2;
  color: white;
}
